{{> nav/nav-block}}

<div class="ui container">
    <div class="row">
      <div class="eight wide column">
        <h1>{{msg}}</h1>
        <div class="ui form" action="POST">
          <div class="field">
            <label for="item-post">Post An Item to Fashion Trader!</label>
            <input type="text" id="item-name" name="item name" placeholder="Item name">
          </div>
          <div class="ui form" id="item-entry">
            <label for="item-description">Describe the Item</label>
            <textarea id="item-description" name="item description" placeholder="Enter Item Description"></textarea>
          </div>
          <div class="ui teal submit button" type="submit" id="submit">Submit Item</div>
        </div>
        
        <div id="item-list" class="ui items">
          <h1>My Items:</h1>
          {{#each items}}
          <div data-id="{{this.id}}" class="item">
            <div class="image">
              <img src="#">
            </div>
            <div class="content">
              <a class="header">{{this.text}}</a>
              <div class="meta">
                <span>Description</span>
                  <div class="description">
                    <p><a href="item/{{this.id}}">{{this.description}}</a></p>
                  </div>
                  <div class="extra">
                    Additional Details
                  </div>
              </div>
            </div>
          </div>
            <a href="/delete" class="ui button negative" type="submit" id="delete">
              <i class="trash alternate icon"></i>
            </a>
          {{/each}}
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/item.js"></script>

{{> modal/login-block}}

