{{> nav/nav-block user=true register=false}}

<div class="ui masthead" id="profile-container">
  <div class="ui raised very padded text container segment">
    <header class="ui header">
      <h1>My Fashion Trader Profile</h1>
    </header>
    <div class="userId">
      <h3>Welcome, {{userInfo.firstName}}</h3>
      <h5 id="user-number" data-useremail="{{userInfo.email}}">Account email: {{userInfo.email}}</h5>
    </div>
    <h3 id="update-err-msg"></h3>
    <form class="ui centered form" id="user-form">
      <div class="field">
        <label for="inputFirst">First Name</label>
        <input type="text" id="inputFirst" value="{{userInfo.firstName}}" placeholder="John">
      </div>
      <div class="field">
        <label for="inputLast">Last Name</label>
        <input type="text" id="inputLast" value="{{userInfo.lastName}}" placeholder="Doe">
      </div>
      <div class="field">
        <label for="inputPassword">Email</label>
        <input type="text" id="inputEmail" value="{{userInfo.email}}">
      </div>
      <div class="field">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" value="{{userInfo.password}}">
      </div>
    </form>
    <br>
  <button class="ui teal button" type="submit" id="update-user" data-id="{{userInfo.id}}">
    <i class="edit icon"></i>Update</button>
    {{#unless userInfo.isAdmin}}
      <button class="ui negative button" type="submit" id="delete-user"><i class="trash icon"></i>Delete</button>
    {{/unless}}
    <button class="ui button" type="submit" id="view-user" data-id="{{userInfo.id}}"><i class="redo icon"></i>
      Refresh</button>
  </div>

  <div class="ui modal" id="delete-user-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Re-Enter Credentials to delete user</h5>
          <button type="ui button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h3 id="err-msg"></h3>
          <form>
            <div class="form-group">
              <label for="userEmail">Email:</label>
              <input type="text" class="form-control" id="userEmail">
            </div>
            <div class="form-group">
              <label for="userPassword">Password:</label>
              <input type="password" class="form-control" id="userPassword">
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <div class="ui button" id="confirm-delete" type="button" data-id="{{userInfo.id}}">Confirm Delete</div>
          <div class="ui button" type="button" data-dismiss="modal">Nah I'll stay</div>
        </div>
      </div>
    </div>
  </div>